<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuyu.miaosha.dao.IteamStockDOMapper" >
  <resultMap id="BaseResultMap" type="com.liuyu.miaosha.dataobject.IteamStockDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="iteam_id" property="iteamId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, stock, iteam_id
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from iteam_stock
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="selectStockByIteamId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select
    stock
    from iteam_stock
    where iteam_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByIteamId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from iteam_stock
    where iteam_id = #{iteamId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from iteam_stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuyu.miaosha.dataobject.IteamStockDO" >
    insert into iteam_stock (id, stock, iteam_id
      )
    values (#{id,jdbcType=INTEGER}, #{stock,jdbcType=INTEGER}, #{iteamId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liuyu.miaosha.dataobject.IteamStockDO" >
    insert into iteam_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="iteamId != null" >
        iteam_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="iteamId != null" >
        #{iteamId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuyu.miaosha.dataobject.IteamStockDO" >
    update iteam_stock
    <set >
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="iteamId != null" >
        iteam_id = #{iteamId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuyu.miaosha.dataobject.IteamStockDO" >
    update iteam_stock
    set stock = #{stock,jdbcType=INTEGER},
      iteam_id = #{iteamId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateByIteamId" >
    update iteam_stock
    set stock = stock-#{count}
    where iteam_id = #{iteamId} AND stock >= #{count}
  </update>

</mapper>