<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="../static/assets/global/plugins/bootstrap/css/bootstrap.css"  rel="stylesheet" type="text/css" />
    <link href="../static/assets/global/css/components.css" rel="stylesheet" type="text/css" />
    <link href="../static/assets/admin/pages/css/login.css" rel="stylesheet" type="text/css" />

    <script src="../static/assets/global/plugins/jquery-1.11.0.min.js"></script>


</head>

<body class="login">
<div class="content">
    <h3 class="form-title">注册</h3>
    <div class="form-group">
        <label class="control-label">邮箱地址</label>
        <div >
            <input  class="form-control" type="text" placeholder="邮箱地址" name = "email" id = "email"/>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label">密码</label>
        <div >
            <input  class="form-control" type="password" placeholder="密码" name = "password" id = "password"/>
        </div>
    </div>
    <div class="form-actions">
        <button class="btn red"  id="login" type="submit">
            登录
        </button>
    </div>
    <div class="form-actions">
        <button class="btn blue"  id="regist" type="submit">
            注册
        </button>
    </div>
</div>
</body>
<script>
    jQuery(document).ready(function () {
        $("#regist").on("click",function () {
            window.location.href='getotp.html'
        })

        $("#login").on("click",function () {
            if($("#email").val()==''){
                alert("邮箱地址不能为空")
                return;
            }

            if($("#password").val()==''){
                alert("密码不能为空")
                return;
            }


            $.ajax({
                type:"POST",
                contentType:"application/x-www-form-urlencoded",
                url:"http://localhost:8080/user/login",
                data:{
                    "email":$("#email").val(),
                    "password":$("#password").val()
                },
                xhrFields:{withCredentials:true},
                success:function (data) {
                    if(data.status=="success"){
                        alert("登录成功")
                        window.location.href='iteamlist.html'
                    }else {
                        alert("登录失败，原因为："+data.data.errorMassage);
                    }
                },
                error:function (data) {
                    alert("登录失败，原因为："+data.responseText)
                }
            })
        })
    })
</script>
</html>
